[Unit]
Description=cloud-lifecycle-controller: remove nodes from Kubernetes when they don't exist in the cloud provider
Documentation=https://github.com/nxtlytics/cloud-lifecycle-controller

[Install]
WantedBy=multi-user.target

[Service]
User=kubernetes
Restart=on-failure
# Common environment variables
EnvironmentFile=/etc/sysconfig/kube-common
# For CA certs and keys
EnvironmentFile=/etc/sysconfig/kube-pki
EnvironmentFile=/etc/sysconfig/cloud-lifecycle-controller
ExecStart=/usr/local/bin/cloud-lifecycle-controller -kubeconfig $KUBECONFIG -leader-elect -cloud $CLOUD
